.Brightness {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  user-select: none;
}

.Brightness > div {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  padding: 1px 5px;

  display: flex;
  align-items: center;
}

.Brightness > div > select {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}